*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    /* list-style: none; */
}
a{
    text-decoration: none;
}
img{
    object-fit: cover;
}
main,header,section,nav, div,footer,ul,figure,aside{
    display: flex;
    flex-wrap: wrap;
}